# Compiled Object files
*.o

# Executables
*.exe
*.out
*.app

# Others (eg. log files & executables)
*.log
GPS_R
*.avi
*.xlsx
.jpg
bin/
ffmpeg_build/
ffmpeg_sources/
opencv_build/
opencv_test/
.DS_Store
html/
latex/
leptonica-1.74.1/
src/video_proc/test/
.cproject
.project
*.orig

